<template>
  <v-content app>
    <v-container fluid align="start" justify="start">
      <v-card class="pa-4 ma-5" elevation="6"> 
        <div class="flex-row overline mb-2 pa-3">
          Ravina Office - Team Occupancy
        </div>
        <div class="flex-row">
          <section v-for="member in teamMemebers" :key="member.id" class="stage">
            <span :class="{ opaque: !member.inOffice }">
              <figure class="ball">
                <span class="member-name" />
              </figure>
            </span>
            <figcaption>{{ member.firstName }} {{ member.lastName }}</figcaption>
          </section>
        </div>
      </v-card>
    </v-container>
  </v-content>
</template>
 
<script>

export default {
	name: 'Landing',

	data () {
    return {
      teamMemebers:[
        {
          id: 0,
          firstName: 'Ben',
          lastName: 'Peters',
          inOffice: false
        },
        {
          id: 1,
          firstName: 'Ben',
          lastName: 'Remer',
          inOffice: true
        },
        {
          id: 2,
          firstName: 'Brian',
          lastName: 'Smith',
          inOffice: true
        },
        {
          id: 3,
          firstName: 'Chad',
          lastName: 'Miller',
          inOffice: true
        },
        {
          id: 4,
          firstName: 'David',
          lastName: 'wilkinson',
          inOffice: false
        },
        {
          id: 5,
          firstName: 'Eleanor',
          lastName: 'Zoppe',
          inOffice: true
        },
        {
          id: 6,
          firstName: 'Jennie',
          lastName: 'Richards',
          inOffice: false
        },
        {
          id: 7,
          firstName: 'Mecca',
          lastName: 'Shabazz',
          inOffice: true
        },
      ]
    }
  },
	computed: {
  },
  watch:{    
  },
	beforeMount() {
	},
	mounted() { 
    console.log('hurray im mounted!')
	},
	methods: {
  }
}
</script>


<style lang="scss" scoped>
  //css spheres "inspired" by https://cssanimation.rocks/spheres/

  @import "@/assets/scss/_vars.scss";

  figcaption{
    text-align: center;
  }

  .opaque{
    opacity: 25%;
  }

  .ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, $tmo-magenta 80%, #062745 100%);
  }
  .ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    z-index: 2;
  }

  .stage {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 20px;
    perspective: 1200px;
    perspective-origin: 50% 50%;
  }
</style>