<template>
  <v-app-bar app class="app-bar">
    <v-app-bar-nav-icon />
    <v-toolbar-title>Digital Retail Team Booking &amp; Occupancy</v-toolbar-title>
  </v-app-bar>
</template>

<script>
  export default {
    name: 'Header',
    data: ()=> ({}),
    computed: {},
    beforeMount() {
    },
    mounted() {
    },
    methods: {}
  }
</script>

<style lang="scss" scoped>
  @import "@/assets/scss/_vars.scss";

  .app-bar {
    background-color: $tmo-magenta !important;
    border-color: $tmo-magenta !important;
  }
</style>