<template>
  <v-footer app class="footer-bar">
    <v-col class="text-center" cols="12">
      <span> &copy; {{ currentYear }} T-Mobile Supply Chain - Digital Retail</span>
    </v-col>
  </v-footer>
</template>

<script>
export default {
  name: 'Footer',
  data: ()=> ({
    currentYear: new Date().getFullYear()
  }),
  computed: {

  },
  beforeMount() {
  },
  mounted() {
   
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
  @import "@/assets/scss/_vars.scss";

  .footer-bar {
    background-color: $tmo-magenta !important;
    border-color: $tmo-magenta !important;
  }
</style>