<script>
import Header from '@/components/header/Header'
import Footer from '@/components/footer/Footer'

export default {
  name: 'App',
  components: {
    Header,
    Footer
  },
  watch: {
    '$route' (to) {
      this.destination = to
    }
  }
}
</script>

<template>
  <!--vue & vuetify both bootstrapped here with id=app-->
  <v-app id="app">
    <Header />
    <router-view />
    <Footer />
  </v-app>
</template>

<style lang="scss" scoped>
</style>
